<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Auth</title>
    <link rel="stylesheet" href="/css/main.css">
	</head>
  <body class="auth-page">
      <div class="container is-flex-grow-0">
        <div>
          <h1 class="title has-text-centered">Auth</h1>
  
          <a
            class="button is-link"
            href="/auth/github"
          >
            Sign Up with GitHub
          </a>
        </div>
      </div>
  </body>
</html>
